<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>deleteorders</name>
	<displayName><![CDATA[Delete orders]]></displayName>
	<version><![CDATA[2]]></version>
	<description><![CDATA[Enable delete button in order page - www.catalogo-onlinersi.com.ar]]></description>
	<author><![CDATA[RSI]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>